:root { --color-blue: #00ACDC; }

body {
margin: 0;
font-family: Roboto, Arial, sans-serif;
font-weight: 12px;
}

.nav__link {
  height: 60px;
display: inline-flex;
align-items: center;
text-transform: uppercase;
color:#000000
}

.nav__link.is-active,
.nav__link:hover,
.nav__link:focus {
color:var(--color-blue);
text-decoration: none;
}


.nav__link.is-active {
position: relative;
}

.nav__link.is-active::after {
pointer-events: none;
content: "";
position: absolute;
left: 0;
right: 0;
height: 4px;
background: var(--color-blue);
border-radius: 8px;
bottom: -10px;

}

header {
display: flex;
align-items: center;
justify-content: space-between;
}

ul.nav {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.nav__item {
margin-right: 20px;
}

.nav__item:last-child {
margin-right: 0;
}
